.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 1fr;

  grid-template-areas:
    "upload upload"
    "menu bar";
  background-image: linear-gradient(
    135deg,
    #69ff97 10%,
    #00e4ff 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.uploadlabel {
  
  grid-area: upload;

  margin: auto;
  cursor: grab;
}

.canva {
  overflow: scroll;
}

.toolbar {
  grid-area: bar;
}

.menu{
  padding: 10px;
  margin: 1em;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.5) !important;
  
}

#menu {

  padding: 10px;
  margin: 1em;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.5) !important;
  
  display: grid;

  grid-template-rows: 1fr 4fr 4fr 4fr;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  grid-template-areas: 
  "seamvalue seamvalue"
  "leftslider rightslider"
  "process process"
  "illuminate illuminate"
  ;
}

.addmargin{
  margin:10px;
}

#seamvalue{
  grid-area: seamvalue!important;
}

#leftslider {
  grid-area: leftslider!important;
}

#rightslider {
  grid-area: rightslider!important;
}

#process {
  grid-area: process!important;
}

#illuminate{
  grid-area: illuminate!important;
}